#title {
    background-color: #ff4c68;
   color: #fff;

}
body {
    font-family: "MontserratBlack";
}

.contaner-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: "Montserrat-Black";
   font-size: 3.5rem;
   line-height: 1.5;

}

h3 {
    font-family: "Montserrat-Bold";
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: "Ubuntu-Bold";
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item {
  padding: 0 18px; 

}

.nav-link {
    font-size: 1.2rem;
    font-family: "MontserratLight";
}

/* dowload buttons */

.download-button {
   margin: 5% 3% 5% 0%;
}

/* title image */

@media  ( max-width:1257px ) {
    .title-image{
        position: static;
        transform: rotate(0);
    }
    
    #title{
        text-align: center;
    }
    
}


/* @media only screen and  (max-width:1028px) {
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
} */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  padding-top: 25px;
  position: absolute;
  right: 30%;
  
}


/* feautures secton */

#features {
 padding: 7% 15%;
 background-color: #fff;
 position: relative;

}

#testimonials{
    background-color: #ef8172;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
   
}

.carosel-mage {
    width: 1em;
}

#press{
    background-color: #ef8172;
    padding: 3%;
    text-align: center;
   
   }

.feauture-box {
    text-align: center;
  
}

.mo {
    color: #ef8172;
    margin-bottom: 2rem;
}
.mo:hover {
    color: #ff4c68;
}

.logos {
    margin: 20% 20% 50%;
    width: 45%;
    
 
}


/* testimonial section */

#Testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}




.testimonials-mage {
    width: 10%;
    border-radius: 100%;
    margin: 20%;
}
/* pricing section */


#pricing{
  padding: 100px;
  text-align: center;


}
.pricin-column {
    padding: 3% 2%;
}

/* cta */
#cta {
    background-color: #ff4c68;
    text-align: center;
    font-family: "Montserrat-Black" ;
    padding: 7% 15%;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer */

#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;


}


.pro-brand {
    margin: 5% 3%;
}



/* footer */
